{% extends 'layouts/base.html.twig' %}

{% block title 'Edit pin ' ~ idPin.id %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1>Edit pin {{ idPin.id }}</h1>

            {{ include('/pins/_form.html.twig', { 'submitButtonText': 'Update Pin' }) }}
        </div>
    </div>
{% endblock %}