{% extends 'layouts/base.html.twig' %}

{% block title 'Edit pin ' ~ idPin.id %}

{% block body %}
    <h1>Edit pin {{ idPin.id }}</h1>

    {{ include('/pins/_form.html.twig', { 'submitButtonText': 'Update Pin' }) }}
{% endblock %}