{% extends 'layouts/base.html.twig' %}

{% block body %}
    <h1>Access forbidden</h1>

    <p>
        You cannot access on this page. Go back <a href="{{ path('app_home') }}">to homepage</a>.
    </p>
{% endblock %}